.Form{
    margin: 3rem auto;
    width: 80%;
    height: 100%;
  }
  input{
    display: block;
    height: 45px;
    border: none;
    width: 100%;
    border-radius: 0.5rem;
    outline: none;
    padding: 0 1rem;
  }
  input:focus, select:focus{
    border: 2px rgb(16, 204, 179) solid;
  }
  
  .Form button{
    display: block;
    background: rgb(16, 204, 179);
    padding: 0.7rem;
    border-radius: 0.5rem;
    width: 20%;
    margin-top: 0.7rem;
    color: #FFF;
    border: none;
    text-decoration: none;
    transition: all 0.5s;
  }
  button:hover{
    opacity: 0.6;
  }
  @media(max-width: 700px){
    input{
        height: 40px;
        padding: 0 1rem;
    }
    .Form button{
        width: 40%;
        padding: 0.6rem;
    }
  }